* {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
  scroll-behavior: smooth;

}

body {

  background: radial-gradient(#008bff, #f1f7fe);
  /* background: radial-gradient(#1b82f5, #000000);  */
  /* background-color: #e4e4e6; */



}